Repository djericj/Downgrooves.Core5: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-admin.yaml, azure-pipelines-worker-service.yaml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: '**/Downgrooves.WorkerService/*.csproj'
  ...

azure-pipelines-admin.yaml:
  pool:
    name: Default
    demands:
    - agent.name -equals NEPTUNE
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 6.0.x
  - task: NuGetAuthenticate@1
  - task: NuGetToolInstaller@1
    inputs:
      checkLatest: true
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  ...

azure-pipelines-worker-service.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: publish
      publishWebProjects: false
      projects: '**/Downgrooves.WorkerService/*.csproj'
  ...

azure-pipelines.yml:
  pool:
    name: Default
    demands:
    - agent.name -equals NEPTUNE
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: NuGetAuthenticate@1
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
      feedsToUse: config
  ...

updated API url
  Downgrooves.WebApi/Controllers/ApiDataController.cs
Due: azure-pipelines.yml

added new json data files
  Downgrooves.Data/GenreDao.cs
  Json/genre.json
  Json/mixTracks.json
  Json/mixes.json
  Json/siteVersion.json
  Json/thumbnail.json
  Json/video.json
Due: none

removed db file from solution
  Downgrooves.Core5.sln
Due: none

updated .gitignore
  .gitignore
Due: none

updated .gitignore
  .gitignore
  Json/last_checked_2023-04-17.txt
  Json/user.json
Due: none

unified iTunes image paths.
  Downgrooves.Data/Adapters/ReleaseAdapter.cs
  Downgrooves.Data/UserDao.cs
  Downgrooves.Domain/ITunes/ITunesCollection.cs
  Downgrooves.WebApi/Controllers/ReleaseController.cs
  Downgrooves.WorkerService/ProcessWorker.cs
  Downgrooves.WorkerService/Services/ArtworkService.cs
  Downgrooves.WorkerService/Services/ITunesService.cs
  Downgrooves.WorkerService/Services/Interfaces/IITunesService.cs
  Downgrooves.WorkerService/Services/Interfaces/IReleaseService.cs
  Downgrooves.WorkerService/Services/ReleaseService.cs
  Downgrooves.WorkerService/appsettings.json
Due: azure-pipelines-1.yml, azure-pipelines-worker-service.yaml, azure-pipelines.yml

set order by descending on mixes and releases
  Downgrooves.WebApi/Controllers/MixController.cs
  Downgrooves.WebApi/Controllers/ReleaseController.cs
Due: azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-json-data.yml
Due: none

Update azure-pipelines-json-data.yml for Azure Pipelines
  azure-pipelines-json-data.yml
Due: none

added code to check if folders exist.
  Downgrooves.WorkerService/ProcessWorker.cs
  Downgrooves.WorkerService/Services/ITunesService.cs
  Downgrooves.WorkerService/Services/Interfaces/IITunesService.cs
Due: azure-pipelines-1.yml, azure-pipelines-worker-service.yaml

added code to check for missing artist.json files
  Downgrooves.WorkerService/ProcessWorker.cs
  Downgrooves.WorkerService/Services/ITunesService.cs
  Downgrooves.WorkerService/Services/Interfaces/IITunesService.cs
Due: azure-pipelines-1.yml, azure-pipelines-worker-service.yaml

added lowercase to folder create
  Downgrooves.WorkerService/Services/ITunesService.cs
Due: azure-pipelines-1.yml, azure-pipelines-worker-service.yaml

changed folder paths to lower case
  Downgrooves.WorkerService/Services/ApiDataService.cs
  Downgrooves.WorkerService/Services/ITunesService.cs
  Downgrooves.WorkerService/Services/ReleaseService.cs
  Downgrooves.WorkerService/appsettings.json
Due: azure-pipelines-1.yml, azure-pipelines-worker-service.yaml

moved to strongly typed config
  Downgrooves.Data/ArtistDao.cs
  Downgrooves.Data/BaseDao.cs
  Downgrooves.Data/DaoFactory.cs
  Downgrooves.Data/Downgrooves.Data.csproj
  Downgrooves.Data/GenreDao.cs
  Downgrooves.Data/ITunesCollectionDao.cs
  Downgrooves.Data/MixDao.cs
  Downgrooves.Data/ReleaseDao.cs
  Downgrooves.Data/UserDao.cs
  Downgrooves.Data/VideoDao.cs
  Downgrooves.Domain/AppConfig.cs
  Downgrooves.Service/ArtistService.cs
  Downgrooves.Service/Base/ServiceBase.cs
  Downgrooves.Service/GenreService.cs
  Downgrooves.Service/MixService.cs
  Downgrooves.Service/ReleaseService.cs
  Downgrooves.Service/UserService.cs
  Downgrooves.Service/VideoService.cs
  Downgrooves.Test/MixTests.cs
  Downgrooves.Test/ReleaseTests.cs
  Downgrooves.Test/VideoTests.cs
  Downgrooves.WebApi/Controllers/ArtistController.cs
  Downgrooves.WebApi/Controllers/MixController.cs
  Downgrooves.WebApi/Controllers/ReleaseController.cs
  Downgrooves.WebApi/Controllers/VideoController.cs
  Downgrooves.WebApi/Downgrooves.WebApi.csproj
  Downgrooves.WebApi/Startup.cs
  Downgrooves.WebApi/appsettings.json
  Downgrooves.WorkerService/Program.cs
  Downgrooves.WorkerService/Services/ApiDataService.cs
  Downgrooves.WorkerService/Services/ApiService.cs
  Downgrooves.WorkerService/Services/ArtworkService.cs
  Downgrooves.WorkerService/Services/ITunesService.cs
  Downgrooves.WorkerService/Services/ReleaseService.cs
Due: azure-pipelines-1.yml, azure-pipelines-worker-service.yaml, azure-pipelines.yml

fixes remix detection, removed SQLite log settings
  Downgrooves.Data/Adapters/ReleaseAdapter.cs
  Downgrooves.Data/ReleaseDao.cs
  Downgrooves.WebApi/appsettings.json
Due: azure-pipelines.yml

fixes case issues in user
  Downgrooves.Data/UserDao.cs
Due: none

fixing CORS issue
  Downgrooves.WebApi/Startup.cs
Due: azure-pipelines.yml

CORS
  Downgrooves.WebApi/Startup.cs
Due: azure-pipelines.yml

Update README.md
  README.md
Due: none

updated mix tracks
  Json/mixTracks.json
Due: none

update mix tracks
  Json/mixTracks.json
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: Downgrooves.WorkerService, Downgrooves.Domain
  azure-pipelines-admin.yaml: any of: Downgrooves.Admin
  azure-pipelines-worker-service.yaml: any of: Downgrooves.WorkerService
  azure-pipelines.yml: any of: Downgrooves.WebApi, Downgrooves.Service, Downgrooves.Persistence, Downgrooves.Domain
