Repository djericj/Downgrooves.Core5: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-admin.yaml, azure-pipelines-worker-service.yaml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: '**/Downgrooves.WorkerService/*.csproj'
  ...

azure-pipelines-admin.yaml:
  pool:
    name: Default
    demands:
    - agent.name -equals NEPTUNE
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 6.0.x
  - task: NuGetAuthenticate@1
  - task: NuGetToolInstaller@1
    inputs:
      checkLatest: true
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  ...

azure-pipelines-worker-service.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: publish
      publishWebProjects: false
      projects: '**/Downgrooves.WorkerService/*.csproj'
  ...

azure-pipelines.yml:
  pool:
    name: Default
    demands:
    - agent.name -equals NEPTUNE
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 5.0.x
  - task: NuGetAuthenticate@1
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
      feedsToUse: config
  ...

spelling correction
  Json/mixTracks.json
Due: none

upgraded all projects to net 9.0
  Downgrooves.Data/Downgrooves.Data.csproj
  Downgrooves.Domain/Downgrooves.Domain.csproj
  Downgrooves.Service/Downgrooves.Service.csproj
  Downgrooves.Test/Downgrooves.Test.csproj
  Downgrooves.WebApi/Downgrooves.WebApi.csproj
  Downgrooves.WorkerService/Downgrooves.WorkerService.csproj
  Downgrooves.WorkerService/Services/ApiBase.cs
Due: azure-pipelines-1.yml, azure-pipelines-worker-service.yaml, azure-pipelines.yml

updated for newer reference versions
  Downgrooves.WebApi/Handlers/BasicAuthenticationHandler.cs
  Downgrooves.WorkerService/Services/ApiBase.cs
Due: azure-pipelines-1.yml, azure-pipelines-worker-service.yaml, azure-pipelines.yml

removed Sink ref
  Downgrooves.WebApi/Downgrooves.WebApi.csproj
Due: azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines-worker-service.yaml for Azure Pipelines
  azure-pipelines-worker-service.yaml
Due: none

applied lint suggestions
  Downgrooves.Data/UserDao.cs
  Downgrooves.Test/MixTests.cs
  Downgrooves.Test/ReleaseTests.cs
  Downgrooves.WebApi/Controllers/ConfigController.cs
  Downgrooves.WebApi/Handlers/BasicAuthenticationHandler.cs
  Downgrooves.WebApi/Startup.cs
Due: azure-pipelines.yml

Update README.md
  README.md
Due: none

added static classes for constants.
  Downgrooves.Data/Adapters/ReleaseAdapter.cs
  Downgrooves.Data/ArtistDao.cs
  Downgrooves.Data/GenreDao.cs
  Downgrooves.Data/MixDao.cs
  Downgrooves.Data/ReleaseDao.cs
  Downgrooves.Data/Types/ArtistNames.cs
  Downgrooves.Data/Types/DataFileNames.cs
  Downgrooves.Data/Types/FileTypes.cs
  Downgrooves.Data/Types/FolderNames.cs
  Downgrooves.Data/UserDao.cs
  Downgrooves.Data/VideoDao.cs
  Downgrooves.WebApi/Startup.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: Downgrooves.WorkerService, Downgrooves.Domain
  azure-pipelines-admin.yaml: any of: Downgrooves.Admin
  azure-pipelines-worker-service.yaml: any of: Downgrooves.WorkerService
  azure-pipelines.yml: any of: Downgrooves.WebApi, Downgrooves.Service, Downgrooves.Persistence, Downgrooves.Domain
